@media only screen and (min-width: 325px) {
  .album-options {
    label {
      min-width: 58px;
    }
  }

  .edit-dock button {
    margin: 0 15px;
  }
}

@mixin smallSelectionBoxHeight($windowHeight) {
  @media only screen and (min-height: $windowHeight) {
    .selection-box {
      height: $windowHeight - 445px;
    }
  }
}

@for $i from 23 through 25 {
  @include smallSelectionBoxHeight(25px * $i);
}

@media only screen and (min-height: 650px) {
  .collage button {
    width: 40px;
    padding: 4px 8px;
  }
}

@mixin largeSelectionBoxHeight($windowHeight) {
  @media only screen and (min-height: $windowHeight) {
    .selection-box {
      height: $windowHeight - 470px;
    }
  }
}

@for $i from 26 through 65 {
  @include largeSelectionBoxHeight(25px * $i);
}
