/* ---Selection menu--- */

.menu {
  background: linear-gradient(to right, $tertiary, $emphasis);
  display: flex;
  box-shadow: 1px 0 5px #e1e1e1;
}

.menu-content {
  overflow: hidden;
  position: relative;
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 25px;
  border-radius: 10px;
  background: $base-color;
  margin: 10px;
  min-height: 550px;

  > div {
    display: flex;
    flex-direction: column;
  }
}

.warning {
  color: red;
  position: absolute;
  margin: 2px 0 0 67px;
  font-size: 0.8em;
}

.album-options {
  form {
    margin-bottom: 8px;
  }

  form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    position: relative;
  }

  label {
    flex: 1;
    display: flex;
    align-items: center;
  }

  span {
    display: inline-block;
    width: 50px;
    color: $secondary;
    font-size: 1.05em;
  }

  input {
    margin-left: 10px;
    outline: none;
    border: none;
    border-bottom: 3px solid $neutral;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    padding: 8px 30px 8px 8px;
    font-family: inherit;
    font-size: 1em;
  }

  > button {
    align-self: flex-end;
    background: $dark-accent;
    border-radius: 10px;
    padding: 5px 5px;
  }

  form button {
    position: absolute;
    right: 0;
    height: 100%;
    background: transparent;
    color: $emphasis;
    border: none;
    border-radius: 0 8px 8px 0;
  }

  input:hover {
    border-color: $tertiary;
  }

  input:focus {
    box-shadow: 0 0 7px $highlight;
    border-color: $tertiary;
  }

  input:disabled {
    border-color: darkgray;
  }

  form button:hover,
  form button:focus {
    background: transparent;
    box-shadow: none;
    color: $tertiary;
  }

  form button:disabled {
    color: darkgray;
    cursor: auto;
  }
}

.artist-search-box {
  outline: none;
}

.search-submit {
  color: $light-accent;
}

.search-submit:hover,
.search-submit:focus {
  background: $tertiary;
  border-color: $highlight;
}

.search-submit:focus {
  box-shadow: 0 0 7px $highlight;
}
