/* ---Selection box--- */

.album-selection {
  height: 100%;

  p {
    color: $neutral;
    font-weight: bold;
    margin: 8px 0;
  }
}

.selection-box {
  height: 105px;
  padding: 7.5px 7.5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
  background: white;
  border: none;
  border: 2px dashed lightgray;

  > div {
    background: $dark-accent;
    height: 20px;
    margin: 2.5px;
    box-shadow: 0 0 5px $tertiary;
    display: flex;
    cursor: grab;
    position: relative;
    width: 48.5%;
  }

  img {
    width: 20px;
  }

  span {
    position: absolute;
    padding: 3px 3px 3px 5px;
    font-size: 0.875em;
    font-weight: bold;
    color: $light-accent;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  button {
    color: $light-accent;
    background: $dark-accent;
    width: 15px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  button:hover,
  button:focus {
    color: $emphasis;
  }
}

.title-container {
  width: 67%;
  position: relative;
  overflow: hidden;
}

/* Webkit scrollbar not working with nesting... */
.selection-box::-webkit-scrollbar {
  height: 9px;
}

.selection-box::-webkit-scrollbar-track {
  background: $light-accent;
}

.selection-box::-webkit-scrollbar-thumb {
  background: darkgray;
}

.selection-box::-webkit-scrollbar-thumb:hover {
  background: gray;
}
