body {
    --mint: #c2e8ce;
    --cream: #f2eee5;
    --pumpkin: #f6ad7b;
    --rust: #be7575;
    --blue: #7ba8f6;
    --pink: #e8c5c2;
    font-family: 'Rubik', sans-serif;
}

h1 {
    color: var(--cream);
    text-shadow: 1px 1px 2px var(--rust);
}
h2 {
    color: var(--rust);
    margin-bottom: 15px;
}

button {
    outline: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.app {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
}

/*---Selection menu---*/

.menu {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    padding: 0px 25px;
    background-color: var(--mint);
    box-shadow: 0.5px 0px 5px var(--rust);
}

.menu > div {
    display: flex;
    flex-direction: column;
}

.album-options form {
    margin-bottom: 8px;
}

.album-options form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blue);
    font-weight: bold;
    position: relative;
}

.warning {
    color: red;
    position: absolute;
    margin: 2px 0px 0px 67px;
    font-size: 0.8em;
}

.album-options input {
    margin-left: 10px;
    padding: 8px;
    outline: none;
    border: 1px solid var(--rust);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 30px 8px 8px;
    font-family: inherit;
}

.album-options input:focus, .album-options > button:focus {
    border-color: var(--pumpkin);
    box-shadow: 0px 0px 3px var(--pumpkin);
}

.album-options input:disabled {
    border-color: darkgray;
}

.search-submit {
    color: var(--cream);
}

.search-submit:hover {
    background-color: var(--pink);
}

.album-options form button {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: var(--blue);
    border: 1px solid var(--rust);
    border-left: none;
    border-radius: 0px 8px 8px 0px;
}

.album-options input:focus + button {
    border-color: var(--pumpkin);
}

.album-options form button:disabled {
    background-color: silver;
    border-color: darkgray;
    cursor: auto;
}

.album-options > button {
    width: 100px;
    align-self: flex-end;
    background-color: var(--rust);
    border: 1px solid var(--cream);
    border-radius: 10px;
    padding: 5px 0px;
}

.album-selection p {
    color: gray;
    font-weight: bold;
    font-size: 0.9em;
    margin: 8px 0px;
}

.selection-box {
    border: 3px dashed var(--cream);
    min-height: 125px;
    max-height: 150px;
    padding: 7.5px 7.5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
}

.selection-box div {
    background-color: var(--cream);
    width: 47.5%;
    height: 20px;
    box-sizing: border-box;
    margin: 2.5px 2.5px;
    display: flex;
    justify-content: space-between;
}

.selection-box img {
    width: 20px;
}

.selection-box span {
    padding: 3px 3px 3px 5px;
    font-size: 0.7em;
    font-weight: bold;
    color: var(--pumpkin);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.selection-box button {
    color: var(--blue);
    background-color: var(--cream);
    width: 15px;
    display: flex;
    justify-content: flex-end;
}

.selection-box button:hover {
    color: var(--pink);
}

.shapes {
    display: flex;
    justify-content: space-between;
}

.shape-btn {
    position: relative;
    background-color: rgba(0,0,0,0);
    font-size: 2em;
    color: var(--cream);
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape-btn:hover {
    color: var(--pumpkin);
}

.cross, .square {
    width: 32px;
}

.cross i {
    position: relative;
    bottom: 1px;
}

.x {
    width: 30px;
    font-size: 2.3em;
}

.star {
    width: 36px;
}

.star i {
    position: relative;
    bottom: 2px;
}

.submit-btn {
    background-color: var(--blue);
    border: 1px solid var(--cream);
    border-radius: 10px;
    padding: 8px;
    font-size: 1em;
    width: 100px;
    height: 40px;
    align-self: flex-end;
    margin-top: 12px;
}

/*---Collage---*/

.collage {
    height: auto;
}